<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
<title>Vidyo Example</title>
</head>
<body>
<h3>Hello Vidyo?</h3>
  <script type="text/javascript">
  function onVidyoClientLoaded(status){
	  console.log("VidyoClient load state: " + status.state);
	  if(status.state == "READY"){
		  VC.CreateVidyoConnector({
			  viewId:"renderer",
			  viewStyle:"VIDYO_CONNECTORVIEWSTYLE_Default",
			  remoteParticipants:10,
			  logFileFilter:"error",
			  logFileName:"",
			  userData:""
		  }).then(function (vc) {
			  console.log("VC creation success");
		  }).catch(function(error){
			  
		  });
	  }
  }
  </script>
  <script src="https://static.vidyo.io/latest/javascript/VidyoClient/VidyoClient.js?onload=onVidyoClientLoaded"></script>
  <div id="renderer"></div>
</body>
</html>